<template>
<div>

  <div>
    <h1>Введіть місто</h1>
    <input type="text" v-model="misto" >
    <button v-on:click="add(misto)">Добавить</button>
    <br>
    <input type="button" v-on:click="pog()" value="Погода" >
    
    <select v-model="it">
        <option v-for="el in mist" v-bind:key="el.city">{{el.city}}</option>
    </select>


    <template v-if="this.che==true">
    <br>
    Максимальная температура: {{cities.main.temp_max}}
    <br>
    Минимальная погода: {{cities.main.temp_min}}
    </template>
  </div>



</div>
</template>

<script>
import Vue from 'vue'



export default {
     	data() {
          return {
              cities:[],
              mist:[{'city':"London"}],
              it:'',
              misto:'',
              che:false
          }
        },
        methods:{ 
          pog:function(){
            Vue.axios.post("http://api.openweathermap.org/data/2.5/weather?q="+this.it+"&appid=b8d67052dc6c85fb12d75983c11d464b")
            .then((response)=> {
             console.log(response.data);
             this.cities=response.data;
             this.che=true;
              })
           },
          add:function(misto){
            this.mist.push({'city':this.misto});
          }
        }  
}
    
    
</script>

<style scoped>

</style>
